<div class="row align-items-center">
{{#each allBlogs}}
    <div class="card col-7">
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <p class="card-subtitle">by {{User.name}}</p>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
{{/each}}
</div>