<div>
    <div>
        <h3>Login</h3>
        <form id="login-form">
            <input type="text" id="login-name">
            <input type="password" id="login-password">
            <button id="login-submit">Login</button>
        </form>
    </div>
    <div>
        <h3>Signup</h3>
        <form id="signup-form">
            <input type="text" id="signup-name">
            <input type="password" id="signup-password">
            <button id="signup-submit">Signup</button>
        </form>
    </div>
</div>