<h4>New Post</h4>
<form id="post-form">
    <h6>Post Name</h6>
    <input type="text" id="post-name">
    <h6>Post Text</h6>
    <input type="text" id="post-text">
    <button id="post-submit">Submit</button>
</form>
<script src="/js/newblog.js"></script>